body {
  user-select: none;
  
}
b {
  color: rgb(247, 247, 0);
}
a {
    color: rgba(255, 255, 255, 0.35);
    text-decoration: none;
}

a:hover {
    color:rgba(255, 255, 255, 0.35);
    text-decoration:none; 
    cursor:pointer;  
}
