.ProxySwitch {
    position: relative;
    height: 26px;
    width: 175px;
    background: rgba(0,0,0,.25);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
    margin: -97px auto 20px
}



.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}


.switch-label-harm {
  padding-right: 2px;
}

/*
  Note: using adjacent or general sibling selectors 
  combined with pseudo classes doesn't work in Safari 
  5.0 and Chrome 12.
  See this article for more info and a potential fix: 
  https://css-tricks.com/webkit-sibling-bug/
*/

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
 background: #640291;
  border-radius: 4px;
  width: 53px;
  height: 22px;
   
 background-image: -webkit-linear-gradient(top,#284efa,#284efa);
    background-image: -moz-linear-gradient(top,#284efa,#284efa);
    background-image: -o-linear-gradient(top,#284efa,#284efa);
    background-image: linear-gradient(to bottom,#284efa,#284efa);
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.5),0 0 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px rgba(255,255,255,.5),0 0 2px rgba(0,0,0,.2);
}

.switch-input:checked + .switch-label-harm ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
  
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    right: 2px;
    width: 58px;
    height: 22px;
    background: #bd63bd;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top,#284efa,#284efa);
    background-image: -moz-linear-gradient(top,#284efa,#284efa);
    background-image: -o-linear-gradient(top,#284efa,#284efa);
    background-image: linear-gradient(to bottom,#284efa,#284efa);
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.5),0 0 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px rgba(255,255,255,.5),0 0 2px rgba(0,0,0,.2);
    
}
