@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Manrope:wght@200&family=Open+Sans:wght@800&display=swap');

.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

  

}

.container img {
  width: 200px;
  height: 200px;
}

#game1, #game2, #game3, #game4 {
  border-style: solid;
  border-color: white;
  padding: 15px;
}

#game1:hover {
color: grey;
}
#game2:hover {
color: grey;
}

#game3:hover {
color: grey;
}

#game4:hover {
color: grey;
}





img {
  border-radius: 50px;
  border-style: solid;
  border-color: white;
 

}

body {
  font-family: Open Sans;
  background-color: black;
  color: white;
}

